*{
	 margin: 0;
	 padding: 0;
	 font-family: sans-serif;
	 box-sizing: border-box;

	 
}


.main{
	    
	     height: 100%;
	     background-repeat: no-repeat;
	     background-position: center;
	     background-size: cover;
	     background-attachment: fixed;

	     
}
.nav{
	     height: 80px;
	     width:1400px;
	     background-image: linear-gradient(45deg,cyan,darkcyan,cyan);
	     position: relative;
	     position: sticky;
	     top: 0;
	     z-index: 1;
	    


}
	
.head{
	      position: absolute;
	      font-size: 0px;
	      color: white;
	      top: 40px; left: 80px;
	      display: hidden;
	      text-transform: uppercase;
	      font-style: bold;
	      background: black;
	      padding: 2px;
	      animation-name: show;
	      animation-duration: 1s;
	      animation-iteration-count: 1;
	      animation-fill-mode: forwards;
	     
}
@keyframes show{
from{font-size: 0px;}
to{font-size: 15px;}
	  

}

s{
	  color: red;
	  text-transform: capitalize;
	  font-style: italic;
	  font-weight: bolder;
}
.logo{
          padding: 20px;


}
.logo img{
	         box-shadow: -5px 5px white;
	         border-radius:10px;
}
.grids{
	      display: grid;
	      grid-template-columns: 200px 200px 200px 200px 200px;
	      grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px; 
	      grid-gap: 20px 20px;
	      justify-content: center;
	       margin-top: 100px;

	      

}
.grids .g{
	          height: 200px; width: 150px;
	          border:none;
	          background: white;box-shadow: 0px 0px 20px;
	          transition: 0.3s ease-in-out;
	          border-radius: 10px;
	          


}
.grids .g img{
	               transition: 0.3s ease-in-out;
	              
}
p{
	 padding: 2px;
	 text-transform: uppercase;
	 font-weight: bolder;
	 display: none;
	 font-size: 11px;
	 color: grey;
}
.grids .g:hover{
	             
	             cursor: pointer;
	             
}
.grids .g:hover p{
	                 display: inline-block;

}
.grids .g:hover img{
	                   height: 100px; width: 150px;
	                   border-radius: 10px;



}